<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Malaria</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predictmalaria')}}"method="post">
    	<input type="text" name="0" placeholder="Falciparam" required="required" />
        <input type="text" name="1" placeholder="Vivax" required="required" />
		<input type="text" name="2" placeholder="Oval" required="required" />
        <input type="text" name="3" placeholder="Plasmodium" required="required" />

        <input type="text" name="4" placeholder="Insulin" required="required" />
        <select name="selection" id="sel1s">
            
            <option value="rf">Random Forest</option>
            <option value="svm">SVM</option>
            <option value="dt">Decision Tree</option>
            
        </select>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>

   <br>
   <br>

 </div>


</body>
</html>
